{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "prettier/prettier": 2 ,
        "no-use-before-define": ["error", { "functions": true, "classes": true }],
        "no-var": "error",
        "prefer-const": "error"
      }
  }